<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>NVRCenter</display-name>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>STORAGE_CONTEXT</param-name>
    <param-value>/media</param-value>
  </context-param>
  <context-param>
    <param-name>SERVICE_CONTEXT</param-name>
    <param-value>/NVRService</param-value>
  </context-param>
  <context-param>
    <param-name>CAMERA_SERVLET</param-name>
    <param-value>/Servlet/GetCameraServlet</param-value>
  </context-param>
  <servlet>
    <servlet-name>GetAuth</servlet-name>
    <servlet-class>com.foxconn.servlet.GetAuthServlet</servlet-class>
    <init-param>
      <param-name>auth</param-name>
      <param-value>ipcams_auth_NN.json</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAuth</servlet-name>
    <url-pattern>/Servlet/GetAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetConfig</servlet-name>
    <servlet-class>com.foxconn.servlet.GetConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConfig</servlet-name>
    <url-pattern>/Servlet/GetConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetJPEG</servlet-name>
    <servlet-class>com.foxconn.servlet.GetJPEGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJPEG</servlet-name>
    <url-pattern>/Servlet/GetJPEGServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVideo</servlet-name>
    <servlet-class>com.foxconn.servlet.GetVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVideo</servlet-name>
    <url-pattern>/Servlet/GetVideoServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVideo</servlet-name>
    <url-pattern>/Servlet/GetFilmServlet/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Auth</filter-name>
    <filter-class>com.foxconn.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Auth</filter-name>
    <url-pattern>/Servlet/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Group</filter-name>
    <filter-class>com.foxconn.filter.GroupFilter</filter-class>
	<init-param>
      <param-name>groupfile</param-name>
      <param-value>ipcams_group_NN.json</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Group</filter-name>
    <url-pattern>/Servlet/GetConfigServlet</url-pattern>
  </filter-mapping>
</web-app>